$namespace: 'el' !default;
$block-set: '-' !default;
$elem-set: '__' !default;
$mod-set: '--' !default;

@mixin b($block) {
    $B: $namespace+$block-set+$block;

    .#{$B} {
        @content;
    }
}

@mixin e($el) {
    $selector: &;

    @at-root {
        #{$selector+$elem-set+$el} {
            @content;
        }
    }
}

@mixin m($m) {
    $selector: &;

    @at-root {
        #{$selector+$mod-set+$m} {
            @content;
        }
    }
}
